{% set title = 'Indycall' %}
{% extends 'layouts/_layout.njk' %}

{% block content %}
    {% include './components/_steps.njk' %}
    {% include './components/_info.njk' %}
    {% include './components/_download.njk' %}
{% endblock %}
