<div class="container">
    <div class="header__wrapper">
        <div class="header__content">
            <div class="header__logo">
                <img src="./images/logo-header.svg" alt="indycall.com">
            </div>
            <h1 class="header__title">Call any phone in India</h1>
            <p class="header__subtitle">Not sparing a penny</p>
            <div class="header__links">
                <a href="https://play.google.com/store/apps/details?id=lv.indycall.client" class="header__link">Google Play</a>
                <a href="#" class="header__link -transparent">App Store</a>
            </div>
        </div>
        <div class="header__image">
            <img src="./images/women-desktop.png" alt="">
        </div>
    </div>
</div>
