<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="Call any phone in India. Not sparing a penny">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="site-wrapper">
    <header class="site-header header">
        {% block header %}
            {% include 'partials/_header.njk' %}
        {% endblock %}
    </header>
    <main class="site-main">
    {% block content %}{% endblock %}
    </main>
    <footer class="site-footer footer" id="footer">
    {% block footer %}
        {% include 'partials/_footer.njk' %}
    {% endblock %}
    </footer>
</div>
</body>
</html>
